---
layout: nice-text
---

<!-- If you see this text on the page, this layout is active -->
<!-- Remove this line later -->
<p style="color:#b00;font-weight:700">[Layout: liquid-table.html is active]</p>

<!-- Your page content (image + lorem ipsum) renders first -->
{{ content }}

<hr>

<h2>Ryan vs Ryan: Liquid Table Demo</h2>

<table id="ryan-v-ryan">
  <thead>
    <tr>
      <th><h3>Ryan Reynolds</h3></th>
      <th><h3>Ryan Gosling</h3></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <h4>Strengths</h4>
        <ul>
          {% for item in page.reynolds.strengths %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>

        <br>

        <h4>Weaknesses</h4>
        <ul>
          {% for item in page.reynolds.weaknesses %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </td>

      <td>
        <h4>Strengths</h4>
        <ul>
          {% for item in page.gosling.strengths %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>

        <br>

        <h4>Weaknesses</h4>
        <ul>
          {% for item in page.gosling.weaknesses %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>
